<form class="form-container">
    <ul class="settings-list">
        {{#each fields}}
            <li>
                <span>{{this.fieldName}}</span>
                {{{ Input name=this.id label=this.fieldName type=this.type }}}
            </li>
        {{/each}}
        </ul>
    {{{ Button label="Register" type="submit"}}}
    {{{ Button label="Sign In" }}}
</form>