.chat__container,
.chat__left-side,
.chat__right-side {
    display: flex;
}

.chat__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 250px;
    height: 80px;
    border: 1px solid red;
    padding: 5px;
}

.chat__left-side {
    align-items: center;
    gap: 5px;
}

.chat__right-side {
    flex-direction: column;
}
