.button {
    color: #deff12;
    background-color: cornflowerblue;
    padding: 10px 15px;
    border-radius: 10px;
    border: 1px solid;
    cursor: pointer;
}

.button:hover {
    background-color: rgba(100, 149, 237, 0.90);
}

.button:active {
    background-color: rgba(100, 149, 237, 0.80);
}