<form class="form-container">
    {{> input name="login" label="Login" type="text"}}
    {{> input name="password" label="Password" type="password"}}
    {{> button label="Sign In" type="submit"}}
    {{> button label="Register" }}
</form>