<form class="form-container">
    {{{ Input name="login" label="Login" type="text"}}}
    {{{ Input name="password" label="Password" type="password"}}}
    {{{ Button label="Sign In" type="submit"}}}
    {{{ Button label="Register" }}}
</form>