<form>
    <ul class="settings-list">
    {{#each userFields}}
        <li>
        {{this.fieldName}}
        {{{ Input label=this.fieldName }}}
        </li>
    {{/each}}
    </ul>
    {{{ Button label="Сохранить"}}}
</form>
