<form>
    <div>
        <span>Old password</span>
        {{{ Input name="oldPassword" label="Old Paswword" }}}
    </div>
    <div>
        <span>New password</span>
        {{{ Input name="newPassword" label="New Paswword" }}}
    </div>
    <div>
        <span>Repeat new password</span>
        {{{ Input label="New Paswword" }}}
    </div>
    {{{ Button label="Сохранить" }}}
</form>